


.notificationBarContainer {
  background-color: #e6f1e6;
  color: #03034e;
  font-weight: 700;
  font-size: 12px;
  text-decoration: underline;
}

.infoCardContainer--info-card-home {
  max-width: 1520px;
  margin: 0 auto;
  background-color: #e6f1e6;
  padding: 0px;
}

.newsletter {
  background-color: #03054e;
  max-width: 1528px;
  margin: 0 auto;
}

.newsletter .container {
  padding: 60px 10px;
}

.label {
  color: #fff;
  font-size: 26px;
}

.inputGroup {
  padding-bottom: 4px;
  display: flex;
  color: #fff;
}

.inputGroup :global(.vtex-styleguide-9-x-hideDecorators) {
  background-color: transparent;
  color: #fff;
  border: none;
}

.inputGroup :global(.vtex-styleguide-9-x-hideDecorators)::placeholder {
  color: #fff;
  font-size: 16px;
}

.inputGroup :global(.vtex-button) {
  background-color: transparent;
  color: #fff;
  border: none;
  margin-right: -24px;
}

.buttonContainer {
  padding-top: 0px;
}

.imageElement--storePrint {
  max-height: 300px;
  margin-bottom: 20px;
}

.skuSelectorContainer {
  margin: 1rem 0;
}

@media only screen and (min-width: 640px) {
  .newsletter .container {
    padding: 140px;
  }

  .label {
    font-size: 40px;
  }

  .infoCardContainer--info-card-home .infoCardTextContainer {
    width: 30%;
  }

  .infoCardContainer--info-card-home .infoCardImageContainer {
    width: 70%;
  }

  .imageElement--storePrint {
    margin-bottom: 0px;
    max-height: 600px;
  }
}

.productImagesContainer--quickview .carouselContainer {
  justify-content: flex-start;
}

.productImagesContainer--quickview .productImageTag {
  object-fit: cover !important;
}

.productImagesContainer--quickview .carouselGaleryThumbs {
  display: none;
}

.productImagesContainer--quickview .carouselGaleryCursor {
  margin: 0;
  padding: 0;
  width: 100%;
}

.productNameContainer {
  color: #3f3f40;
  font-weight: bold;
  font-size: 22px;
  font-family: Lato,sans-serif!important;
}

/* el "en" de share  */
.shareContainer .shareLabel::after{
content:" en "
}

/* .shareContainer .shareButtons .shareSocialIcon{ */
/* solo queria ver si podia modificar a machete esos svg */
/* } */

.swiperBullet--active {
  position: relative;
  color: #7300e0;
}
:global(.vtex-flex-layout-0-x-flexRow--share-tarjetas)
:global(.vtex-store-components-3-x-imageElement){
  margin:auto;
}

/* marca del producto y link  */
.productBrandNameLink{
  font-size: 16px;
  color: #6d6d6d;
  text-transform: uppercase;
  margin-top: 0;
  text-align: left;
}

/* nombre del producto */
.productNameContainer{
  margin-bottom: 20px;
  font-family: Lato,sans-serif!important;
  font-size: 22px;
  font-weight: 900;
  color: #242424;
  text-transform: capitalize;
  line-height: 1.3;
  letter-spacing: .3px;
}
/* borde de los ThumbActive del product */
.productImagesThumbActive{
  border:2px solid #7300e0;
}
/* flechas de las imagenes del producto */
.caretIcon {
  font-family: icoomon;
  font-size: 24px;
  color: #7300e0;
  display: block;
}
/* el boton de ver más  */
.showMoreButton{
    background: none;
    border: 1px solid #7300e0;
    border-radius: 5px;
    color: #7300e0;
}