.sliderLayoutContainer {
  justify-content: center;
}
.sliderLayoutContainer--carousel {
  background-color: #F0F0F0;
}

.sliderTrackContainer {
  max-width: 1520px;
}

.paginationDotsContainer {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.layoutContainer--shelf {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 96rem;
}

.slide--shelf {
  margin-bottom: 25px;
}
/* contenedor de la shelf */
.sliderLayoutContainer--shelf{
  padding-top: 2rem;
  margin-bottom: 6rem;
}
.sliderLeftArrow--shelf,.sliderRightArrow--shelf{
  color:#7300e0;
}
.paginationDot--shelf--isActive{
  background-color:#7300e0;
}
/* :global(.vtex-shelf-1-x-sliderContainer){
} */