.skuSelectorContainer--quickview .skuSelectorItemImage .frameAround, .skuSelectorContainer--quickview .skuSelectorItemImage .skuSelectorInternalBox {
  border-radius: 50%;
}

.container :global(.vtex-modal-layout-0-x-triggerContainer) {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.container:hover :global(.vtex-modal-layout-0-x-triggerContainer) {
  opacity: 1;
}

@media screen and (max-width: 40em) {
  .container :global(.vtex-modal-layout-0-x-triggerContainer) {
    display: none;
  }
}

.nameContainer {
  justify-content: start;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.element{
  border: 1px solid #eee;
  padding: 5px 12px 12px;
  border-radius: 0;
  overflow: hidden;
}
/* boton */
:global(.vtex-slider-layout-0-x-slideChildrenContainer--shelf) .element .vtex-button{
  background:none !important;
  border: 1px solid #7300e0;
  border-radius: 5px;
  font-size: 13px;
  color: #7300e0;
  letter-spacing: .5px;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.nameContainer .productNameContainer{
  margin-bottom: 0;
  font-size: 15px;
  color: #151515;
  text-align: left;
  font-weight: 700;
  line-height: 1.2;
}

.brandName {
    margin-bottom: 0;
    font-size: 15px;
    color: #151515;
    text-align: left;
    font-weight: 700;
    line-height: 1.2;
}

.container {
  text-align: start;
}

.imageContainer {
  text-align: center;
}

.image {
  border-radius: 0.25rem;
}
